.btnform{
	width:120px;
	background-color: #5DADE2
}


						/* the dropdown list */

.ulenter .list{
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #ddd
}
.ulenter .list:hover{
	background-color: #ddd;
}
.ulenter .list a:hover{
	text-decoration: none;
}

.logoimage img{
	width:100px;
	height: 60px
}
.logoimage{
	background-size: cover;
}


						/*  second navbabar*/

.secondnav{
	margin-top: 100px;
	padding: 0 5px;
	background-color: #eee
}


.secondul li:hover{
	border-top: 2px solid #ff7b25
}

.secondul a:hover{
	background-color: white;
	color: #000
}



.safka{
	margin: 40px 20px;
	padding: 15px;
	border: 1px solid #ddd;
}

.safka .col61
{
	display: inline-block;
	border-right: 1px solid #87bdd8
}

.col61 a{
	padding-left: 270px
}

.col62 .text-muted{
	padding-left:0;
}
.col62 .col62a{
	padding-left: 200px
}

							/*  section1 */
.section1{
	background-color: #F2F3F4;
	border-top: 4px solid #3498DB;
}

.section1 h2{
	padding-top: 10px
}

							/* section2 */

.section2{
	background-color: #F2F3F4;
	border-top: 4px solid #3498DB;
	margin-top: 50px;
}

.section1 h2{
	padding-top: 10px
}


.heightcarousel2{
	height: 350px;
}































































































































